.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #562EFF;
    justify-items: center;

}

.sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 870px;




}

.menu ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.logo img {
    width: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


}



ul a {
    text-decoration: none;
    color: #fff;
}